.icon-48-comprars {
      background-image: url(../images/l_comprars.png);
      padding-left:60px!important;
}

.icon-48-comprar {
      background-image: url(../images/l_comprars.png);
      padding-left:60px!important;
}

