body {

    background: none repeat scroll 0 0 #000;
    border-width: 0;
    color: #000000;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    margin: 0 auto;
    width: 100%;
}

#t3-header {
    background: none repeat scroll 0 0 black;
    height: 45px;
    width: 100%;
}

.head-search {
    font-size: 21px;
    margin-left: 160%;
    margin-top: -5.9%;
    width: 155%;
}
.head-search ul li {
    display: inline-block;
    font-size: 80%;
}

div.head-search ul li a.icono-redes {
    padding-left: 0;
    padding-right: 0;
}

.head-search ul > li > a:hover {
    background-image: url("../images/background.png") ;
    background-color: black;
    color: white;
}
.nav >li >a:hover {
    background-color: #FFD500;
    color: black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .head-search li.item-191 > a, .head-search li.item-191 > a:hover, li.item-191 {
    background-color: #ffd500;
    color: black;
    background-image: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #878787;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}


#field5{
    background-color: white;
}
/*HEADER*/
nav.t3-mainnav{
    background: none repeat scroll 0 0 transparent;
    color: white;
    height: 50px;
    width: 100%;
}

div.t3-navbar{
    background-image: url("../images/site/back_submenu.png");
    background-repeat: no-repeat;
    background-size: 106% 131%;
    float: right;
    max-width: 100%;
    width: 74%;
}

.t3-sidebar-1{   
    margin-left: -209px;
    margin-top: -25px;
}


#t3-mainnav div.t3-navbar2{
    background-image: url("../images/site/back_submenu.png");
    background-repeat: no-repeat;
}

.t3-navbar2{
    background-size: 106% 131%;
    float: right;
    font-size: 124%;
    margin: 0 -10.5% 0 0;
    max-width: 100%;
    width: 89%;
}
.t3-sidebar .module-title, .module-title, div.titulo-dorado > h3{
    background-image: url("../images/site/line_up.png");
    background-size: 52% auto;
    background-repeat: no-repeat;
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
    padding-left: 22px;
}

.texto-header > h3{
    background-image: url("../images/site/line_up.png");
    background-repeat: no-repeat;
    background-size: 52% auto;
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 0 -28px;
    padding-left: 48px;
}


.texto-producto{
    background-color: #ffffff;
    margin-left: 19px;
    padding: 23px;
    width: 110%;
}


div.titulo-dorado {
    height: 100%;
    margin: 0 0 0 -128px;
    width: 100%;;
}

div.titulo-dorado > h3, div.category-desc > h3, div.head-category > h2{
    background-image: url("../images/site/line_up.png");
    background-position: -41px center;
    background-repeat: no-repeat;
    background-size: 55% auto;
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    padding: 0 0 0 55px;
    text-align: left;
}

div.category-desc > p{
    margin: 1%;
}
/*.t3-sidebar .module-title {
    text-align: center;
}*/


.t3-sidebar-2 .module-title, .t3-sidebar-right .module-title, .module-title, div.titulo-dorado > h3 {
    font-size: 22px;
}
.t3-content{
    display: inline-block;
    width: 100%;
}
.col-md-6
.col-md-3{
    display: inline-block;
}

/*REFERENTE AL MEGA-MENU*/

.nav-child{
    color: white;
    background-color: black;
}
.encuentralos{
    margin-top: -10px;
    background-color: rgb(52,52,52);
    height: 100px;
}

.alinear_center{
    margin-left: 200px;
}

/*BODY*/
div.t3-wrapper{
    background-color: black;
    background-image: url("../images//site/backbardahl.jpg");
    background-repeat: repeat;
    position: relative;
}

#t3-mainbody{
    margin: -1%;
    max-width: 100%;
}

/*AQUI SE MARCA EL SLIDER DE HOME*/


div.moduleleft{
    display: inline-block;
    color: #000000;
}

/*CONTIENE LOS DOS MODULOS MOSTRADOS EN LA DERECHA BUSCAR PRODUCTO Y BARDALH EN TU VIDA*/
/*
#cabecera{
    color: white;
    font-size:19pt;
    text-align: center;
    box-shadow:0 0 50px black;
    background-image: url("../images/plecadorada.png") ;
    background-size: 100%;
    background-repeat: no-repeat;    
    height: 50px;
    margin-top: -15px;
    position: relative;
}*/


div.home{
    display: inline-block;
    width: 600px;
}


#div_buscar{
    font-size: 9pt;
    height: 470px;
    line-height: 10px;
    margin: 6px 0 0 45%;
    position: absolute;
    z-index: 1;
}

#form_buscar{
    margin: 0 0 0 0;
}
div.container_left .row #name0{
    width: 66%;
}
#back_producto{
    height: 100%;
    margin: 0 0 0 -299px;
    position: absolute;
    width: 294%;
    z-index: -1;
}

h2 {
    color: #000000;

}

div.container_left .row #name1{
    background-image: url("../images/site/back_bproducto.png");
    background-position: -61px -75px;
    background-repeat: no-repeat;
    background-size: 130% 132%;
    height: 454px;
    margin: 2.5% 0 0 -8px;
    width: 33%;
}

.articlelanding-page{
    background: url("../images/site/line_baner.jpg") no-repeat scroll -1px 100.5% / 100% auto white;
    float: left;
    height: 436.9px;
    margin: -41.66% 0 0 3px;
    max-width: 1920px;
    width: 75.1%;
}
.modulelanding-page2{
    background: url("../images/site/line_baner.jpg") no-repeat scroll 2px 101% / 102% auto white;
    height: 436.6px;
    margin: 0.1% 0 0 1%;
    max-width: 1920px;
    width: 100%;
}
#name0 #Mod122{
    margin-bottom: 0;
}

.head-category{
    background: url("../images/site/line_baner.jpg") no-repeat scroll 1px 101% / 101% auto white;
    float: left;
    height: 437.9px;
    margin: -41.695% 0 -12px;
    max-width: 1920px;
    width: 77%;
}


.modulelanding-page {
    background: url("../images/site/line_baner.jpg") no-repeat scroll 1px 100% / 100% auto white;
    height: 436.9px;
    margin: 4.59% 0 0 1%;
    max-width: 1920px;
    width: 100%;
}

#name5{
    height: 100%;
    margin: -5.3% 0 0 -5.7%;
    max-height: 580px;
    max-width: 524px;
    width: 100%;
}

#auto{
    float: left;
    height: 100%;
    margin: 0 -79%;
    width: 136%;
}
#buscar{
    margin: inherit;
}

#encuentra-producto {
    text-align: center;
}

#div_buscar  h3{
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    margin: -11px 0 0 -7px;
    width: 124%;
}

#encuentra-producto input {
    margin: -5px -9px;
}

/*/MODULOS PAGINA PRINCIPAL/*/
.breadcrumb{
    background-color: transparent;
}

ul.noti-event-home {
    padding: 0;
}

#conten_dc{
    display: table;
    width: 690px;
}
#list{
    display: inline-block;
    width: 200px;
    margin-bottom: 40px;
}
#list2{
    display: inline-block;
    width: 200px;
    margin-bottom: 40px;
}
#cal_container{
    height: 450px;
    display: block;
    width: 690px;
}
#Cal_2013{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 34px;
    height: 282px;
    margin-left: 19px;
    margin-top: 15px;
    text-align: center;
    width: 276px;
}

#lbl_artrel{    
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    margin-left: 18px;
    text-align: center;
    width: 194px;
    }
#Cal_2014{
   background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 34px;
    height: 150px;
    margin-left: 61px;
    margin-top: 15px;
    text-align: center;
    width: 276px;    
}
#fondo{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 27px;
    height: 150px;
    margin-left: 9px;
    margin-top: 15px;
    text-align: center;
    width: 263px;
}
#smart{
     background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 28px;
    height: 49px;
    margin-left: 18px;
    margin-top: 15px;
    text-align: center;
    width: 356px;
}
/*CONTACTOS*/
#sender_name {
    height: 30px;
    width: 400px;
}
#sender_email{
    height: 30px;
    width: 400px;
}
#subject{
    height: 30px;
    width: 400px;
}
/*GOBIERNO*/

#lbl_exploracion{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;
}
#lbl_exploracion2{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;
}

#lbl_fusion{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;    
}
#lbl_fusion2 {
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 17px;
    padding: 6px 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold
}
#lbl_lubricantes {
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 19pt;
    height: 40px;
    width: 290px;
}

#field6{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 230% auto;
    font-size: 12pt;
    height: 30px;
    margin: 15px 0 0 35px;
    width: 84px;
}
/*CONTADOR DE VOTOS*/

#freevotes_nuova_risposta{
    height: 15px;
}
/*BARDAL EN TU VIDA*/
#cuadro_tu_vida{
    height: 145px;
    width: 217px;
    background-color: white;
    
}
#cuadro_tu_vida2 {
    background-color: white;
    height: 179px;
    width: 223px;
}
#cuadro_vida{
    background-color: white;
    margin: 53px 0 0 30px;
    position: absolute;   
}
#cuadro_vida1 {
    background-color: white;
    margin: 4px 0 0 64px;
    position: absolute;
}

#select_producto{
    background-color: #ffffff;
    height: 34px;
    width: 205px;
}
#contact_producto{
    display: inline-block;
    width: 200px;
    margin-bottom: 15px;
}
#input_text{
    width: 180px;
}
#cuadro_lubri {
    background-color: white;
    margin: 12px 0 0 100px;
    position: absolute;
}
#cuadro_lubricantes{
    background-color: white;
    height: 205px;
    width: 290px;
}
#article_conteiner{
    background-color: #ffffff;
    display: inline-block;
    height: 175px;
    margin-left: 19px;
    margin-top: 22px;
    width: 300px;
}

#btn_enviar{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    font-size: 16px;
    height: 34px;
    margin-top: 16px;
    text-align: center;
    width: 72px;
}

.article_title, .article_title > a{
    background-color: #FFD100;
    color: #333333;
    font-size: 24px;
    height: 51px;
    text-align: center;
    width: 300px;
}
#article_img{
    background-color: #808080;
    height: 103px;
    margin: 10px 0 0 107px;
}
#lbl_au{
    font-size: 19pt;
    height: 40px;
    width: 217px;
}
#lbl_au >a {
    color: #000000;
}
#cuadro_vida_trac{
    background-color: white;
   margin: 27px 0 0 34px;
    position: absolute;
}
/*SOCIALES*/
#sociales{
    display: block;
    font-size: 23px;
    left: 380px;
    position: relative;
    top: -43px;
    width: 400px;
}
.redes{
    font-size: 18px;
    margin: 108% 0 0 26%;
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 1;
}
#facebook{
    margin: -6px 0 0;
    width: 26.5%;
}
#twitter{
    width: 23%;
}

#tbl_auto{
   background-color: #2f2f2f;
   height: 0;
   width: 687px;
}


.container_left{
    position: relative;
}
#Mod105{
    height: 209px;
}

div.row .t3-sidebar-2, .t3-sidebar-right {
    width: 100%;
}

.t3-sidebar-2 div.t3-module, .t3-sidebar-right div.t3-module, {
    background-image: url("../images/plecadorada.png");
    background-color: #ffd500;
}


.category-modulenew_home{
    margin-top: 55px;
}
label
{    
    font-weight:bold;
    font-size: 110%;
}
input[type="text"]{
    background: white;
    width: 207px;
    height: 27px;
}
input{
}
ul.latestnewstu_vida {
     display: inline-block;
}
ul.latestnewstu_vida li {
    padding: 10px;
    display: inline-block;
}

ul.latestnewstu_vida li a {
    color: #000000;
}

.left-date {
    font-size: 20px;
    display: inline-block;
    float: left;
    max-width: 100px;
}
.art-cat-content {
    display: inline-block;
    max-width: 91%;
    padding-left: 2%;
}


/*FOOTER*/
.t3-footnav .t3-module,
.t3-footnav .t3-module .module-title, .t3-footnav .moduletable,
.t3-footnav h1,
.t3-footnav h2,
.t3-footnav h3,
.t3-footnav h4,
.t3-footnav h5,
.t3-footnav h6,
.t3-footnav .h1,
.t3-footnav .h2,
.t3-footnav .h3,
.t3-footnav .h4,
.t3-footnav .h5,
.t3-footnav .h6 {
    color: #ffffff;
}
#t3-footer{
    clear: both;
    position: relative;
    background-color: #000000;
    height: 330px;
    width: 99.9%;
    margin-left: 0.09%;    
}
div.t3-footnav{
    color: black;
    margin-left: 15px;
}
#Mod103{
  background-color: #FFD500;
    height: 180px; 
}
div.t3-footnav .t3-module {
    background: transparent;
}
ul.nav.footer-menu-brd li {
    margin-top: 0;
}
ul.nav.footer-menu-brd li a {
    color: #ffffff;
    padding: 0;
}
ul.categories-module {
    padding: 0;
}
.categories-module li, ul.categories-module li, .category-module li, ul.category-module li {
    padding: 0;
    border: 0;
}
.categories-module li a, .t3-footnav .t3-module ul > li > a {
    color: #ffffff;
}


.customfooter_menu{
    color: black;
}
h1{
    color: black;
}

div.t3-footnav {
    padding: 20px 0;
}
#contacto {
    font-size: 15px;
    line-height: 1.9;
}
.t3-module.contacto {
    width: 330%;
}
.t3-footnav .vertical {
    display: inline-block;
    margin-left: 1em;
}
.t3-footnav #columna-3 li {
    margin-bottom: 14px;
}
.t3-footnav #columna-3 li a, .t3-footnav .item-232 a {
    font-weight: bold;
    font-size: 100%;
}
.t3-footnav #columna-4 {
    width: 5em;
}
.t3-footnav li a {
    font-size: 80%;
}
.t3-footnav h4, .t3-footnav h3 {
    font-weight: bold;
}
.t3-footnav h4, .t3-footnav .h3li {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serifalibri;
    font-size: 16px;
}
div#footer_images img {
    height: 60px;
}
.t3-footnav .col-lg-2.col-md-2.col-sm-4.col-xs-6:first-of-type h4 {
    margin-top: 0;
}
.t3-footnav .moduletable {
    margin-bottom: 1em;
}


.container_right{
    padding: 0 0 0 6px;
}


.mod-tab{
    width: 100%;
}

.landig-tab{
    background-image: url("../images/site/line_up.png");
    background-position: -41px center;
    background-repeat: no-repeat;
    background-size: 42% auto;
    padding: 0 0 0 25px;
    text-align: left;
    color: #000000;
    font-weight: bold;
    line-height: 2em;
}

#div-tu-vida {
    background-color: #ffd100;
    color: #333333;
    display: block;
    height: 60px;
    min-height: 60px;
    text-align: center;
    width: 284px;
}

#img-tu-vida{
    height: 157px;
    width: 284px;
}

.newsflashblog-news{
    display: block;
}

nav.wrap {
    background: transparent;
}
.wrap .container >ul{
    display: flex;
    list-style: none;
}


.wrap .container >ul >li{
    display: inline-block;
    padding: 23px;
}

.latestnewstu_vida{
    display: inline-block;
    height: 247px;
    width: 343px;
}

.img-descarga{
    background-color: #696969;
    margin: 0 0 0 21px;
    width: 114%;
}


.img-descarga >img {
    margin: auto;
    width: 69%;
}
div.module-inner > h3, div.calendar-descarga >h3, div.calendar-fondos >h3, .clearfix >h3{
    background-image: url("../images/site/line_up.png");
    background-position: -41px center;
    background-repeat: no-repeat;
    background-size: 44% auto;
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 0 5px;
    padding: 0 0 0 35px;
    text-align: left;
}
.clearfix >h1 {
    display: none;
}

.calendar-video{
    background: url("../images/site/line_baner.jpg") no-repeat scroll -6px 100.7% / 103% auto white;
    height: 438px;
    margin: -41.7% 0 0 6px;
    max-width: 1920px;
    width: 74.6%;
}

.customleft{
    background-color: #ffffff;
    margin-top: 6px;
    padding: 1%;
}

.img_prod{
    background: url("../images/site/line_baner.jpg") no-repeat scroll 4px 101% / 101% auto white;
    height: 437px;
    margin: -41.67% 0 0 -12.1px;
    max-width: 1920px;
    width: 76.4%;

   /*
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;*/
}

.table-responsive .col-md-5{
    margin: -49% 0 0 -19px;
    width: 79%;
}
#noticias_eventos >h2{
    color: #000000;
    margin: 0 0 0 68px;
}


#noticias_eventos{
    background-image: url("../images/site/line_up.png");
    background-repeat: no-repeat;
    background-size: 100% 97%;
    font-size: 9px;
    margin: 0 0 33px -34px;
    width: 42%;

}
.div_icons_prod{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.iconos_prod{
    margin-right: 0px;
}
.titulos-apartados{
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #666;
}

@media (max-width: 991px) {
    #t3-content {
        width: 100%;
    }
}

.h3_categ, .prod_name {
    margin-left: 15px;
}

.img_prod img {
    height: 80%;
    margin: 3% 0 0 24%;
    width: 50%;
}

.texto-producto h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #000000;
}

/*Categorias*/
.article-catimg {
    height: 183px;
    margin: 0 0 0 70px;
    width: 201px;
}
.cat-article {
    width: 31%;
    margin: 1%;
    background-color: white;
    display: inline-block;
    float: left;
}
.pleca-dorado, .article_title {
    background-color: #FFD100;
    color: #333333;
}
.cat-article .pleca-dorado {
    display: block;
    height: 60px;
    min-height: 60px;
    padding: 2px 6px;
    text-align: center;
}
.breadcrumb > ol, li.active {
    display: inline;
    list-style: none;
}
.breadcrumb > li + li:before {
    content: " > ";
}
.pleca-dorado div {

    height: 56px;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 0px 1px 4px #333;
}
.cat-article a:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.t3-spotlight #name1{

}
h1.article-title {
    color: white;
}
.visform input, .visform textarea {
    width: 100%;
}
.visform .visCSSlabel {
    float: none;
}


.visform > fieldset > div {
    margin: 0 auto;
    width: 57%;
}

.homelink img {
    height: 203%;
    margin-top: -22px;
    position: absolute;
    width: 19%;
}

.t3-megamenu {
    margin: 1% 16.5%;
    width: inherit;
}

#line{
    margin-left: -14px;
    margin-top: -18px;
    position: absolute;
}
#img_left2{
    margin-left: 96%;
    margin-top: 0.59%;
    position: absolute;
}


#img_left{
    margin: 0.68% 18.9%;
    position: absolute;
}

td, tr td {
    border-top: none;
}

div#calif {
    margin: 0 auto;
    margin-bottom: 1em;
}


