
body {

    background: none repeat scroll 0 0 #000;
    border-width: 0;
    color: #000000;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    font-weight: 300;
}

.video_top{
    margin: 56px 0 0 29px;
}
#number{
    color: white;
    letter-spacing: 3px;
    margin: 0 0 0 93px;
}

.busqueda-uso p{
    margin: 10px;
}
.recomendados{
    height: 430px;
    margin: -473px 0 0 13px;
    width: 75%;
}
#clearfix > p{
    background-color: #ffffff;
    padding: 22px 10px;
    text-align: center;
    width: 113%;
}

.marca{
    font-size: 79px;
    font-weight: 400;
}

.modelo{
    font-size: 40px;
    font-weight: 400;
}

.year{
    font-size: 28px;
    font-weight: 400;
    margin: 9px 0 0;
}
.kilometraje{
    font-size: 29px;
    font-weight: 400;
    margin: 17px 0 0;
}

#kilometraje{
    background-color: #ffffff;
    height: 30px;
    width: 208px;
}
#t3-header {
    background-image: url("../../../images/site/top_menu.png");
    height: 40px;
    width: 1300px;
}

.head-search {
    font-size: 22px;
    font-weight: normal;
    margin-left: 581px;
    margin-top: -30px;
    width: 712px;
}
#idTextPanel .flexslider{
    margin: auto !important;
}

.carrazo-texto{
    margin: 57px auto;
}
.flex-direction-nav a {
    opacity: 1;
}
.busqueda-uso{
    margin-top: -452px;
    position: absolute;
    width: 904px;
}
.busqueda-uso .module-title span {
    text-transform: capitalize;
}

.category-desc a{
    color: #000000;
}
#line-menu{
    margin: 24px 0 0 129%;
    position: absolute;
}
.head-search ul li {
    display: inline-block;
    font-size: 66%;
    margin-left: 7px;
}

div.head-search ul li a.icono-redes {
    padding-left: 0;
    padding-right: 0;
}

.head-search ul > li > a:hover {
    background-image: url("../images/background.png") ;
    background-color: black;
    color: white;
}
.nav >li >a:hover {
    background-color: #FFD500;
    color: black;
}
.presentaciones{
    background-color: transparent;
    color: #ffd500;
    font-size: 24px;
    font-weight: 400;
    padding: 0 125px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .head-search li.item-191 > a, .head-search li.item-191 > a:hover, li.item-191 {
    background-color: #ffd500;
    color: black;
    background-image: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.animate >ul >li.active >a

{
    background-color: #ffd500;
    color: #000000;
    -ms-transform: skew(-20deg, 0deg); /* IE 9 */
    -webkit-transform: skew(-20deg, 0deg); /* Chrome, Safari, Opera */
    transform: skew(-20deg, 0deg);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffd500;
    color: black;
    height: 31px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #878787;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}


#field5{
    background-color: white;
}
/*HEADER*/
nav.t3-mainnav{
    height: 82px;
}

div.t3-navbar{
    background-image: url("../images/site/back_submenu.png");
    background-repeat: no-repeat;
    background-size: 106% 131%;
    float: right;
    max-width: 100%;
    width: 74%;
}

.t3-sidebar-1{
    margin-left: -209px;
    margin-top: -25px;
}

.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}


.navbar-nav > li:focus{
    color: #ffd500;
}

.t3-sidebar .module-title, .module-title, div.titulo-dorado > h3, .texto-header > h3 {
    background-image: url("../images/site/line_up.png");
    background-position: -41px center;
    background-repeat: no-repeat;
    line-height: 2em;
    text-align: left;
    padding: 0 12px;
}

.module-title >span {
    margin: 0 0 0 14px;
}


.texto-producto, .promocion-text{
    font-family: Maven Pro;
    font-weight: 400;
    background-color: #ffffff;
    padding: 23px;
    width: 1296px;
    text-align: justify;
}

.contacto-text{
    background-color: #ffffff;
    padding: 23px;
    width:     1300px;
    font-family: Maven pro;
}
.contacto-text > a {
    color: #000000;
}
.form-contacto{
    width: 800px;
}

.contact{
    margin: 0 0 0 34px;
}
.form-inter{
    margin: -492px 0 0 20px;
}


.contact>textarea{
    background-color: #ffffff;
    height: 200px;
    width: 479px;
}
/*
.promociones .img_prod >img{
    height: 72%;
    margin: 6% 0 0 19%;
    width: 74%;
}*/
div.titulo-dorado {
    height: 100%;
    margin: 0 0 0 -128px;
    width: 100%;;
}

div.titulo-dorado > h3, div.category-desc > h1, div.head-category > h2{
    background-image: url("../images/site/line_up.png");
    background-position: -41px center;
    background-repeat: no-repeat;
    background-size: 55% auto;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    margin: 38px 0 0 -13px;
    padding: 0 0 0 28px;

}

div.category-desc > p{
    margin: 1%;
}
/*.t3-sidebar .module-title {
    text-align: center;
}*/


.t3-sidebar-2 .module-title, .t3-sidebar-right .module-title, .module-title, div.titulo-dorado > h3 ,.texto-header > h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}
.t3-content{
    display: inline-block;
    padding: 0;
    width: 100%;
}
.col-md-6
.col-md-3{
    display: inline-block;
}

/*REFERENTE AL MEGA-MENU*/

.nav-child{
    color: white;
    background-color: black;
}
.encuentralos{
    margin-top: -10px;
    background-color: rgb(52,52,52);
    height: 100px;
}

.alinear_center{
    margin-left: 200px;
}

/*BODY*/
div.t3-wrapper{
    background-color: black;
    background-image: url("../images/site/backbardahl.jpg");
    background-repeat: repeat;
    position: relative;
}

#t3-mainbody{
    margin: 0;
    padding-top: 0;
}

/*AQUI SE MARCA EL SLIDER DE HOME*/


div.moduleleft{
    display: inline-block;
    color: #000000;
}

div.home{
    display: inline-block;
    width: 600px;
}


#div_buscar{
    font-size: 9pt;
    line-height: 10px;
    margin: 52px 0 0 120px;
}

#form_buscar{
    margin: 0 0 0 0;
    width: 222px;
}
div.container_left .row #name0{
    padding: 0;
    width: 958px;
}
#back_producto{
    height: 100%;
    margin: 0 0 0 -299px;
    position: absolute;
    width: 294%;
    z-index: -1;
}

h2 {
    color: #000000;

}

div.container_left .row #name1{
    height: 501px;
    margin: -20px 0 0 -8px;
    width: 350px;
}
.container_left{
    background-image: url("../../../images/site/img-back-banner-bardahl.png");
    background-repeat: no-repeat;
    }
.container_left .row{
    margin: auto;
}
.articlelanding-page{
    float: left;
    margin: -39.3% 0 0 -5px;
    max-width: 1920px;
    width: 77%;
}

.articlelanding-page .base-desc{
    margin: 4% 0 0 2%;
    font-family: Maven Pro;
    height: 396px;
}

.customlanding-page2{
    margin: 12px 0 0 79px;
}
#name0 #Mod122{
    margin-bottom: 0;
}

.head-category{
    float: left;
    margin: -40.1% 0 0 14.1px;
    max-width: 1920px;
    width: 75%;
}

.contact-form{
    font-size: 77%;
    margin: 22px 0 0 -2px;
}
.container-contacto{
   width: 100%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
    border-radius: 0;
}


.control-left{
    margin: -12px 0 0 -15%;
    position: absolute;
}
.control-right{
    margin: -1.7% 0 0 34%;
    position: absolute;
}

#jform_contact_email, #jform_contact_message,.invalid{
    background-color: #ffffff;
    height: 27px;
    width: 207px;
}
.contact-form #jform_contact_emailmsg {
    width: 207px;
}

.form-actions{
    -ms-transform: skew(-20deg, 0deg); /* IE 9 */
    -webkit-transform: skew(-20deg, 0deg); /* Chrome, Safari, Opera */
    transform: skew(-20deg, 0deg);
    background-color: transparent;
    position: absolute;
    margin: 17% 0 0 60%;
}

.btn-primary {
    background-color: #ffd500;
    border-color: #ffd500;
    color: #ffffff;
}
.contact-2{
    display: inline-block;
    margin: 50px 0 0 13px;
}

.head-category .category-desc{
    margin: 1%;
    font-family: "Maven Pro";

}

#line_position{
    margin: -3.5em 0 0 -1em;
    position: absolute;
    z-index: 1;
    width: 72%;
}
#line_position >img{
    width: 100%;
}


#name5{
    height: 100%;
    margin: -5.3% 0 0 -5.7%;
    max-height: 580px;
    max-width: 524px;
    width: 100%;
}

.auto{
    margin: 24px -36px;
    width: 10px;
}

#buscar{
    margin: inherit;
}

#encuentra-producto {
    text-align: center;
}

#div_buscar  h3{
    color: #000000;
    font-weight: bold;
    line-height: 2em;
    margin: -40px 0 0 6px;

}

#encuentra-producto input {
    margin: -11px -18px;
}

.container_right .row{
    margin: auto;

}
/*/MODULOS PAGINA PRINCIPAL/*/
.breadcrumb{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin: 16px;
    text-transform: capitalize;
}

.breadcrumb a{
    color: black;
}
ul.noti-event-home {
    padding: 0;
}

#conten_dc{
    display: table;
    width: 690px;
}

#menu-landing-1{
    background-image: url("../images/site/pleca_titulos.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 3.5em;
    width: 100%;
    text-align: center;
}
#menu-landing-1 >a{
    color: #000000;
    font-size: 164%;
    font-weight: 400;
    line-height: 2em;
    padding-left: 1em;
}
#menu-landing-2 >a{
    color: #000000;
    font-size: 132%;
    font-style: normal;
    font-weight: 400;
}
.containter-table {
    display: table;
    padding: 0;
    width: 1300px;
}
#segundo{
    display: block;

}
 #cuadro-left{
     display: inline-block;
     width: 574px;
}

#cuadro-right{
    display: inline-block;
    margin: 0 0 0 154px;
    position: absolute;
    width: 574px;
}

#segundo #cuadro-left{
    display: inline-block;
    margin: 3% 0 0;

    width: 31%;
}
#segundo #cuadro-center{
    margin: 0 54px;
    display: inline-block;
    width: 398px;
}
#segundo #cuadro-right{
    display: inline-block;
    margin: 39px 0 0 -10px;
    width: 398px;
}

.flex-viewport{
    height: 362px;
}

#img-lading{
    background-color: #ffffff;
    line-height: 0;
}
#cuadro-1 #img-lading >a >img{
    height: 280px;
    width: 100%;
}

#cuadro-2{
    display: inline-block;
    margin: 41px 0 0 8px;
    width: 32%;
}
#cuadro-2 #img-lading >a >img{
    height: 187px;
    width: 100%;
}
#menu-landing-2{
    background-image: url("../images/site/pleca_titulos.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 46px;
    width: 100%;
    text-align: center;
    padding: 9px;
}

#list{
    display: inline-block;
    width: 200px;
    margin-bottom: 40px;
}

.productos-form{
    display: inline-block;
    margin: 0;
}

.texto-form >h3{
    background-image: url("../images/site/line_up.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: black;
    font-weight: bold;
    margin: 0 0 0 -7px;
    padding: 6px 42px;
}
.data{
    background-color: #ffffff;
    margin: -7px;
    width: 797px;
}
.data >table{
    border-collapse: separate;
    border-spacing:  5px;
}
#idtext{
    width: 330px;
}

.contact-textarea>textarea{
    width: 797px;
    height: 150px;
    background-color: #ffffff;
}

.boton_envio{
    background-color: #ffd500;
    height: 38px;
    margin: 10px 0 0 687px;
    width: 103px;
    transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg); /* IE 9 */
    -webkit-transform: skew(-20deg, 0deg); /* Chrome, Safari, Opera */
}

.contacto_boton{
    background-color: #ffd500;
    height: 38px;
    margin: -59px 0 0 741px;
    width: 103px;
    transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg); /* IE 9 */
    -webkit-transform: skew(-20deg, 0deg); /* Chrome, Safari, Opera */
    position: absolute;
}

.msg{
    color: #000000;
    background-color: #ffffff;
    width: 68%;
}

#label-form{
    width: 25%;
    float: left;
}
.texto-form{
    margin: 0 0 0 -50px;
    padding-left: 48px;
    width: 400px;
}


#list2{
    display: inline-block;
    width: 200px;
    margin-bottom: 40px;
}
.div-contacto .texto-promociones{
    padding: 0;
}
.div-contacto{
    margin: 30px 0;
}
.header-contacto{
    margin: -524px 0 0 20px;
}

#cal_container{
    height: 450px;
    display: block;
    width: 690px;
}

#lbl_artrel{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    margin-left: 18px;
    text-align: center;
    width: 194px;
    }

#fondo{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 27px;
    height: 150px;
    margin-left: 9px;
    margin-top: 15px;
    text-align: center;
    width: 263px;
}
#smart{
     background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 28px;
    height: 49px;
    margin-left: 18px;
    margin-top: 15px;
    text-align: center;
    width: 356px;
}

/*CONTACTOS*/
#sender_name {
    height: 30px;
    width: 400px;
}
#sender_email{
    height: 30px;
    width: 400px;
}
#subject{
    height: 30px;
    width: 400px;
}
/*GOBIERNO*/

#lbl_exploracion{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;
}
#lbl_exploracion2{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;
}

#lbl_fusion{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    width: 217px;
}

#lbl_fusion2 {
    background-image: url("../images/site/line_up.png");
    background-repeat: no-repeat;
    background-size: 105% auto;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-left: 0;
    padding: 6px 76px;
    text-align: start;
    width: 100%;
}
.txt-producto{
    background-color: #ffffff;
    display: block;
    font-family: Maven Pro;
    width: 74%;
}
.txt-producto >h3{
    color: #000000;
}

#lbl_fusion2 >a{
    color: #000000;
}



#lbl_lubricantes {
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 19pt;
    height: 40px;
    width: 290px;
}

#field6{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    background-size: 230% auto;
    font-size: 12pt;
    height: 30px;
    margin: 15px 0 0 35px;
    width: 84px;
}
/*CONTADOR DE VOTOS*/

#freevotes_nuova_risposta{
    height: 15px;
}
/*BARDAL EN TU VIDA*/
#cuadro_tu_vida{
    height: 145px;
    width: 217px;
    background-color: white;

}

#cuadro_tu_vida2 {
    background-color: white;
    height: 179px;
    width: 223px;
}
#cuadro_vida{
    background-color: white;
    margin: 53px 0 0 30px;
    position: absolute;
}
#cuadro_vida1 {
    background-color: white;
    margin: 4px 0 0 64px;
    position: absolute;
}

#select_producto{
    background-color: #ffffff;
    height: 34px;
    width: 205px;
}
#contact_producto{
    display: inline-block;
    width: 200px;
    margin-bottom: 15px;
}
#input_text{
    width: 180px;
}
#cuadro_lubri {
    background-color: white;
    margin: 12px 0 0 100px;
    position: absolute;
}
#cuadro_lubricantes{
    background-color: white;
    height: 205px;
    width: 290px;
}
#article_conteiner{
    background-color: #ffffff;
    display: inline-block;
    height: 221px;
    margin-left: 19px;
    margin-top: 22px;
    width: 300px;
}

#btn_enviar{
    background-image: url("../images/plecadorada.png");
    background-repeat: no-repeat;
    font-size: 16px;
    height: 34px;
    margin-top: 16px;
    text-align: center;
    width: 72px;
}

.article_title, .article_titl > a{
    font-style: normal;
    font-weight: 400;
    color: #000000;
}
#article_img{
    background-color: #808080;
    height: 103px;
    margin: 10px 0 0 107px;
}
#lbl_au{
    font-size: 19pt;
    height: 40px;
    width: 217px;
}
#lbl_au >a {
    color: #000000;
}
#cuadro_vida_trac{
    background-color: white;
   margin: 27px 0 0 34px;
    position: absolute;
}
/*SOCIALES*/
#sociales{
    display: block;
    font-size: 23px;
    left: 380px;
    position: relative;
    top: -43px;
    width: 400px;
}
.redes{
    display: inline-flex;
    margin: 34px 0 0 -18px;
    width: 353px;
    z-index: 1000;
    position: relative;
}
#facebook{
    width: 124px;
}
#twitter{
    width: 120px;
}

.flexslider {
    margin: 52px 0 0 17px !important;
    width: 902px;
}
.img-left img{
    display: inline-block;
    width: 183px;
}
.img-left{
    width: 30%;
}
.img-rigth {
    display: inline-block;
    width: 69%;
}
.img-rigth a{
    color: #000000;
}
.img-desc {
    display: flex;
}

.carrazo-texto .jqDnR .flexslider{
    height: 300px;
    width: 500px;
}
#img-calendario a img {
    width: 1297px;
}
#tbl_auto{
   background-color: #2f2f2f;
   height: 0;
   width: 687px;
}


.container_left{
    position: relative;
}
#Mod105{
    height: 209px;
}

div.row .t3-sidebar-2, .t3-sidebar-right {
    margin: 0 0 0 -1.5px;
    width: 100%;
    padding: 0;
}

.t3-sidebar-2 div.t3-module, .t3-sidebar-right div.t3-module, {
    background-image: url("../images/plecadorada.png");
    background-color: #ffd500;
}


.category-modulenew_home{
    margin-top: 55px;
}
label
{
    font-weight:bold;
    font-size: 110%;
}
input[type="text"],.validate-email {
    background: white;
    width: 207px;
    height: 27px;
}
input{
}
ul.latestnewstu_vida {
     display: inline-block;
}
ul.latestnewstu_vida li {
    padding: 10px;
    display: inline-block;
}

ul.latestnewstu_vida li a {
    color: #000000;
}

.left-date {
    font-size: 20px;
    display: inline-block;
    float: left;
    max-width: 100px;
}
.art-cat-content {
    display: inline-block;
    max-width: 91%;
    padding-left: 2%;
}


/*FOOTER*/
.t3-footnav .t3-module,
.t3-footnav .t3-module .module-title, .t3-footnav .moduletable,
.t3-footnav h1,
.t3-footnav h2,
.t3-footnav h3,
.t3-footnav h4,
.t3-footnav h5,
.t3-footnav h6,
.t3-footnav .h1,
.t3-footnav .h2,
.t3-footnav .h3,
.t3-footnav .h4,
.t3-footnav .h5,
.t3-footnav .h6 {
    color: #ffffff;
}
#t3-footer{
    clear: both;
    position: relative;
    background-color: #000000;
    height: 330px;
    width: 99.9%;
    margin-left: 0.09%;
}
div.t3-footnav{
    color: black;
    margin-left: 15px;
}
#Mod103{
  background-color: #FFD500;
    height: 180px;
}
div.t3-footnav .t3-module {
    background: transparent;
}
ul.nav.footer-menu-brd li {
    margin-top: 0;
}
ul.nav.footer-menu-brd li a {
    color: #ffffff;
    padding: 0;
}
ul.categories-module {
    padding: 0;
}
.categories-module li, ul.categories-module li, .category-module li, ul.category-module li {
    padding: 0;
    border: 0;
}
.categories-module li a, .t3-footnav .t3-module ul > li > a {
    color: #ffffff;
}


.customfooter_menu{
    color: black;
}
h1{
    color: black;
    font-family: oswald;
    font-style: normal;
    font-weight: 400;
}

div.t3-footnav {
    padding: 20px 0;
}
#contacto {
    font-size: 15px;
    line-height: 1.9;
    margin: -36px auto;
}

.t3-footnav .vertical {
    display: inline-block;
    margin-left: 1em;
}
.vertical2 {
    display: inline-block;
    margin: -187px 0 0 467px;
    position: absolute;
}
.t3-footnav #columna-3 li {
    margin-bottom: 14px;
}
.t3-footnav #columna-3 li a, .t3-footnav .item-232 a {
    font-weight: 400;
    font-size: 100%;
    font-style: normal;
}
.t3-footnav #columna-4 {
    width: 5em;
}
.t3-navhelper, #t3-mainnav {
    border: 0;
}

.t3-footnav h4, .t3-footnav h3 {
    font-family: Oswald;
    font-weight: 400;
    font-style: normal;
}
.t3-footnav h4, .t3-footnav .h3 >li {
    font-family:Oswald
    font-size: 16px;
}
div#footer_images img {
    height: 60px;
}
.t3-footnav .col-lg-2.col-md-2.col-sm-4.col-xs-6:first-of-type h4 {
    margin-top: 0;
}
.t3-footnav .moduletable {
    margin-bottom: 1em;
}


.container_right{
    padding: 0;
}

.t3-spotlight-2 .col-lg-12{
    padding: 0;
}

.mod-tab{
    width: 100%;
}

#div-tu-vida {
    background-image: url("../images/site/pleca_titulos.png");
    background-repeat: no-repeat;
    background-size: 25em auto;
    color: #333333;
    display: block;
    font-style: normal;
    font-weight: 400;
    height: 3em;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 21em;
}

#div-tu-vida >span{
    display: inline-block;
    line-height: normal;
    margin: 11px;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Oswald;
}

.no-article {
    background-color: #ffffff;
    margin: 0;
    padding: 13px;
    text-align: center;
    width: 113%;
}
#img-tu-vida{
    height: 10em;
    width: 21em;
}

.newsflashblog-news{
    display: block;
}

nav.wrap {
    background: transparent;
}
.wrap .container >ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}

.wrap .container >ul >li{
    display: inline-block;
}

.t3-navhelper  .container {
    margin: 9px 0 0 -12px;
    padding: 0;
    width: 102%;
}

.latestnewstu_vida{
    display: inline-block;
    height: 14em;
    margin: auto 8px;
    width: 23em;
}

.img-descarga{
    background-color: #696969;
    margin: 0 0 0 21px;
    width: 114%;
}


.img-descarga >img {
    margin: auto;
    width: 69%;
}

.clearfix >h1 {
    display: none;
}

.calendar-video{
    height: 33.1em;
    margin: -623px 0 0 -36px;
    width: 900px;
}

.calendar-img{
    display: block;

}
.img-cal{
    display: inline-block;
    margin: 0 0 0 103px;
}

.calendar-video > iframe{
    margin: 7% 0 0 24px;
}
.customleft{
    background-color: #ffffff;
    margin-top: 1px;
    padding: 12px;
    font-family: "Maven Pro" !important;
    font-weight: 400;
}
/*********************CREACION DE TABLA DIV************************************/
.Table {
    display: table;
    background-color: white;
    margin: 15px auto;
    width: 797px;
}
.Table .Row
{
    display: table-row;
}
.Cell
{
    display: table-cell;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;

}
.fila0 { background-color: #b6cef0;}
.fila1 { background-color: #E1E8F1;}
/*********************END CREACION DE TABLA DIV********************************/
.slider-content{
    margin: 43px 0 0 24px;
}
.texto-promociones{
    padding: 0;
    width: 1300px;
}
.texto-contacto{
    padding: 0;
    width: 1300px;
    margin: 20px auto;
}

.conteiner-slider{
    background-color: white;
    margin: -61px 0 0;
    max-width: 1920px;
    width: 114.3%;
}

.table-responsive .col-md-5{
    margin: -49% 0 0 -19px;
    width: 79%;
}
#noticias_eventos >h2{
    color: #000000;
    margin: 0 0 0 68px;
}
.nombre{

    width: 200px;
}


#noticias_eventos{
    background-image: url("../images/site/line_up.png");
    background-repeat: no-repeat;
    background-size: 100% 97%;
    font-size: 9px;
    margin: 0 0 33px -34px;
    width: 42%;

}

.div_icons_prod{
    margin: -28px 0 0 67px;
    text-align: center;
    width: 100%;
}

.titulos-apartados{
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #666;
}

.h3_categ, .prod_name {
    margin-left: 15px;
}
.img_prod img {
    margin: -431px 0 0 1%;
    max-height: 359px;
    position: absolute;
    width: 900px;
}

.promociones .img_prod img{
    height: 343px;
    margin: -424px 0 0 7px;
    max-height: 359px;
    position: absolute;
    width: 916px;
}

.texto-producto h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #000000;
}

/*Categorias*/
.article-catimg, .article_image> img{
    height: 180px;
    margin: 0 auto;
    display: block;
}

#idTextPanel > p > strong{
    font-size: 20px;
}
#system-message-container{
    background-color: #bababa;
}
.cat-article {
    background-color: #ffffff;
    display: inline-block;
    float: left;
    margin-bottom: 14px;
    margin-left: 31px;
    margin-right: 30px;
    width: 28%;
    overflow: hidden;
}
.flexslider .slides img{
    height: 362px;
}
.pleca-dorado {
    background-image: url("../images/site/pleca_titulos.png");
    background-position: 0 14px;
    background-repeat: no-repeat;
    background-size: 110% auto;
    line-height: 4em;
    text-align: center;
    width: 100%;
}

.article_titl{
    background-image: url("../images/site/pleca_titulos.png");
    background-position: 0 14px;
    background-repeat: no-repeat;
    background-size: 110% auto;
    line-height: 4em;
    text-align: center;
    width: 100%;
    margin: -14px 0 0;
}
.cat-article .pleca-dorado {
    display: block;
    height: 40px;
    min-height: 40px;
    padding: 2px 6px;
    text-align: center;
    background-position: 0 0;
    line-height: 2em;
}

.pleca-dorado div {
    color: black;
    font-family: Oswald;
    font-weight: normal;
    height: 56px;
    text-shadow: 0 1px 4px #333;
    vertical-align: middle;
}
.cat-article a:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.t3-spotlight #name1{

}
h1.article-title {
    color: white;
}
.visform input, .visform textarea {
    width: 100%;
}
.visform .visCSSlabel {
    float: none;
}


.visform > fieldset > div {
    margin: 0 auto;
    width: 57%;
}

.homelink img {
    margin: -18px 0 0 15px;
    position: absolute;
}

.t3-megamenu {
    font-style: normal;
    font-weight: 400;
    margin: 28px 547px;
}

.t3-megamenu .nav{
    margin: 0;
    width: 677px;
}


#line > img {
    margin-left: -15px;
    margin-top: -9px;
    position: absolute;
    width: 1300px;
}
#img_left2{
    margin-left: 98.5%;
    margin-top: 1.4%;
    position: absolute;
}
.calendar-descarga{
    width: 1326px;
    margin: 0 0 0 -23px;
}

#img_left{
    margin-left: 595px;
    margin-top: 18px;
    position: absolute;
}

.typeahead{
    background-color: #ffffff;
}
td, tr td {
    border-top: none;
    color: #000000;
}

div#calif {
    margin: 0 auto;
    margin-bottom: 1em;
}
/**************PRODUCTOS****************/

.colum-right{
    font-family: Maven Pro;
    margin: 569px 877px;
    position: absolute;
    width: 426px;
}
#calif{
    width: 160px !important;
}

.img-prod{
    margin: 7px 2px;
    position: absolute;
    width: 900px;
}

.img-producto {
    margin: -1px 0 0 59px;
}
.line-header{
    margin: 23px 0 0 -7px;
    width: 909px;
}

.title-uso{
    font-weight: bold;
    display: inline-block;
}
.img-uso{
    display: inline-block;
}
/**************menu*********************/

#wrapper {
    width: 160px;
    margin: 100px auto;
    font-size: 0.8125em;
}

#wrapper > ul, ul ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu {

    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
#wrapper {
    font-size: 0.8125em;    /* 13/16 = 0.8125*/
}

.menu > li > a {
    height: 2.75em;         /* 36/13 ≈ 2.75*/
    line-height: 2.75em;    /* 36/13 ≈ 2.75*/
    text-indent: 2.75em;    /* 36/13 ≈ 2.75*/
}
.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}
.menu > li > a:hover,
.menu > li > a.active {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}
/***************************************/

/*******************************************************MEDIA QUERY PARA DISPOSITIVOS DIFERENTES**************************************************************/

/* Smartphones (portrait and landscape) ----------- */

@media screen and (max-width : 319px){
    body{
        display: none;
    }
}

/*********************IPHONE5*****************************/


@media  screen
and (min-width : 320px)
and (max-width : 480px) {
    body{
        max-width: 300px;
    }
    .table-responsive {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border:none;
        -webkit-overflow-scrolling: touch;
    }
    .texto-producto, .promocion-text {
        background-color: #ffffff;
        padding: 23px;
        width: 100%;
    }
    .homelink img {
        margin: -193px 0 0 25px;
        position: absolute;
    }
    .articlelanding-page .base-desc {
        font-size: 11px;
        margin: -73% 0 0 2%;
    }
    /*******************HEADER***********************/
    #t3-header {
        background-image:none;
        height: 106px;
        margin: 0 0 0 -15px;
        width: 104.5%;
    }
    .head-search ul li {
        /* display: inline-block; */
        font-size: 96%;
        /* margin-left: 4px; */
    }
    .mega-inner .level1{
        display: block;
        height: 450px;
    }
    #line {
        display: none;
    }
    #line >img {
        width: 100%;
    }

    .t3-megamenu {
        font-style: normal;
        font-weight: 400;
        width: 116px;
        position: absolute;
        margin: -26px 0 0 -232px;
    }
    .custom >table{
        display: none;
        visibility: hidden;
    }
    .head-search {
        font-weight: normal;
        margin-left: 0;
        margin-top: -5.9%;
        width: 100%;
        height: 167px;
    }
    /*******************HEADER**********************/
    /*******************MENU************************/
    .Cell {
        display: inline-block!important;
    }
    .Row{
        display: block!important;
    }
.t3-navbar2{
    display: none;
}
.head-search .hidden{
    display: block !important;
    visibility: visible !important;
}
    header nav {
        width:80%;
        height:100%;
        left:-100%;
        margin:0;
        position: fixed;
    }

    header nav ul li {
        display:block;
        float:none;
        border-bottom:1px solid rgba(255,255,255, .3);
    }

    .menu_bar {
        display:block;
        width:100%;
        background:#ccc;
    }

    .menu_bar .bt-menu {
        display:block;
        padding:20px;
        background:#024959;
        color:#fff;
        text-decoration:none;
        font-weight: bold;
        font-size:25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .menu_bar span {
        float:right;
        font-size:40px;
    }

    /*******************MENU************************/
    /*******************ENCUENTRA TU ACEITE********/
    .redes {
        display: block;
        font-size: 18px;
        margin: 509px 0 0 -3%;
        position: relative;
        width: 136%;

    }
    #facebook {
        width: 29.5%;
        display: inline-block;
    }
    #twitter {
        width: 29.5%;
        display: inline-block;
    }
    #google {
        width: 29.5%;
        display: inline-block;
    }
    #auto {
        height: 153px;
        margin: 11% -18px;
        width: 287px;
    }
    .marca {
        font-size: 34px;
    }
    .modelo {
        font-size: 24px;
    }
    .year {
        font-size: 16px;
    }
    .kilometraje {
        font-size: 17px;
    }

    div.titulo-dorado > h3, div.category-desc > h3, div.head-category > h2 {
        background-image: url("../images/site/line_up.png");
        background-position: -41px center;
        background-repeat: no-repeat;
        background-size: 146% auto;
        color: #000000;
        /* font-weight: 400; */
        line-height: 3em;
        /* text-align: left; */
        margin: 38px 0 0 -18px;
        padding: 0px 0 0 11px;
        font-size: 16px;
    }
    .cat-article {
        background-color: #ffffff;
        margin-bottom: 14px;
        width: 100%;
        margin-left: 0;
    }
    .pleca-dorado {
        background-image: url("../images/site/pleca_titulos.png");
        background-position: 0 14px;
        background-repeat: no-repeat;
        background-size: 132% auto;
        line-height: 4em;
    }
    .recomendados {
        height: 430px;
        margin: -953px 0 0 20px;
        width: 93%;
        POSITION: absolute;
    }
    .articlelanding-page {
        float: left;
        margin: -686px 0 0 14px;
        width: 95%;
        position: absolute;
    }

    #t3-content {
        width: 100%;
        margin: 20px 0 0 2px;
    }
    #article_conteiner {
        background-color: #ffffff;
        display: inline-block;
        height: 221px;
        margin-left: 0;
        margin-top: 22px;
        width: 300px;
    }
    .head-category {
        margin: -296% 0 0 20.1px;
        width: 93%;
        position: absolute;
    }
    .table-responsive .col-md-5 {
        margin: -320% 0 0 -13px;
        width: 109%;
        position: absolute;
    }
    .colum-right{
        display:  none;
        visibility: hidden;
    }
    .img-producto {
        margin: 0 0 0 37px;
        width: 75%;
    }
    .div_icons_prod {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .txt-producto {
        width: 100%;
    }
    .msg_ok {
        margin: -24px 0 0 2px;
    }
    .head-category .category-desc {
        margin: 0 0 0 -11px;
        font-size: 11px;
        width: 285px;
    }
    .no-article {

        width: 100%;
    }
    /***************ENCUENTRA TU ACEITE***********/
    /***************MODULOS HEAD******************/
    .img_prod img {
        height: 250px;
        margin: -260% 0 0 1%;
        max-height: 359px;
        width: 97%;
        position: absolute;
    }
    /***************MODULOS HEAD******************/
    .video_top iframe{
        width: 272px;
        height: 336px;
    }
    .texto-producto .jqDnR p img{
        background: url("../../../images/img-bardahlfusion-movil.jpg") no-repeat scroll 0 0 / 257px auto rgba(0, 0, 0, 0);
        box-sizing: border-box;
        display: block;
        padding-left: 328px;
    }

    /********************CUADROS LADING************/
    #cuadro-left {
        display: block;
        padding-right: 5px;
        width: 100%;
    }
    div #cuadro-left img{
        width: 100%;
    }

    #cuadro-right {
        display: block;
        width: 52.5%;
        position: relative;
        margin: 11px 0 0;
        height: 236px;
    }
    #menu-landing-1 {
        background-image: url("../images/site/pleca_titulos.png");
        background-repeat: no-repeat;
        background-size: 142% auto;
        width: 295px;
        text-align: center;
    }

    #img-lading{
        background-color: transparent;
    }
    #img-lading > a> img {
        width: 294px;
        margin: 0;
    }

    #segundo #cuadro-left {
        display: block;
        margin: 0 0 0 3px;

        width: 100%;
        position: relative;
    }
    .container_right .row {
        margin-left: 0;
        margin-right: 0;
    }
    #segundo #cuadro-left #img-lading >a >img, #segundo #cuadro-center  #img-lading >a >img,#segundo #cuadro-right #img-lading >a >img{
        width: 98%;
    }
    #segundo #cuadro-center {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
    }
    #segundo #cuadro-right {
        display: block;
        width: 100%;
        position: relative;
        margin: 0;
    }

    #menu-landing-2 {
        width: 98%;
        text-align: center;
        padding: 2px;
        margin-bottom: 15px;
        height: 42px;
    }
    /********************CUADROS LADING************/
    /********************CONTACTO******************/
    .div-contacto .img_prod{
        position: absolute;
    }
    .div-contacto .texto-promociones{
        position: relative;
    }

    .form-contacto{
        display: none;
        visibility: hidden;
    }
    .form-inter {
        margin: -878px 0 0 20px;
    }
    #idtext {
        width: 94px;
    }
    .data{
        padding: 7px;
        width: 309px;
    }

    .contact-textarea > textarea {
        height: 150px;
        width: 309px;
    }

    .ultimo{
        width: 309px;
    }

    .msg {
        margin: 70px auto;
        width: 100%;
    }
    .boton_envio {
        margin: -66px 0 0 100px !important;
        position: absolute;
    }
    .data >table >tbody>tr >td >label {
        font-weight: bold;
        font-size: 13px;
    }
    .contact {
        margin: 0 0 0 8px;
    }
    .contact>textarea {
        background-color: #ffffff;
        height: 184px;
        width: 141px;
    }
    .contacto_boton {
        height: 32px;
        margin: -37px 0 0 139px;
        width: 87px;
    }

    .contacto-text {
        width: 100%;
    }
    /********************CONTACTO******************/
    /****************************MENU**********************************************/
    nav {
        border-bottom: 0;
    }
    nav ul {

        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('../images/site/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    /****************************MENU**END*****************************************/
    /*********************CREACION DE TABLA DIV************************************/
    .Table
    {
        display: table;
        margin-left: -15px;
        margin-top: -13px;
        margin-bottom: 0;
    }
    .Table .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        font-size: 9px;
        font-weight: 300;
        padding-left: 0;
        padding-right: 3px;
    }
    /*********************END CREACION DE TABLA DIV********************************/
    .busqueda-uso {
        height: 310px;
        margin: -877px 0 0 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 295px;
    }
    /************************CALENDARIO********************************************/
    .calendar-video iframe{
        width: 286px;
    }
    .calendar-video {
        margin: -184px 0 0 -16px;
    }
    .calendar-fondos{
        margin: 0 0 0 -23px;
    }
    .t3-module.contacto {
        width: 100%;
    }

    .img-left img {
        width: 168px !important;
    }

    .img-left {
        width: 62% !important;
    }
    .img-rigth {
        padding: 0 10px !important;
    }

    #img-calendario a img{
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("../../../images/calendario/2015/img-calendario-bardahl2015-movil.jpg") no-repeat scroll 0 0 / 302px auto rgba(0, 0, 0, 0);
        padding-left: 328px; /* Igual a la anchura de la nueva imagen */
    }
    .t3-sidebar-2 .module-title, .t3-sidebar-right .module-title, .module-title, div.titulo-dorado > h3, .texto-header > h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }
    .img-descarga {
        background-color: #696969;
        margin: 0;
        width: 100%;
    }
    .img-cal {
        display: inline-block;
        margin: 0 0 0 48px;
    }
    /************************CALENDARIO********END*********************************/
    /**************************BARDAHL EN TU VIDA *********************************/
    .customlanding-page2 {
        margin: 33px 0 0 45px;
    }
    #lbl_au {
        display: none;
    }
    #cuadro_vida >a >img {
        width: 50px;

    }
    #cuadro_tu_vida {
        height: 101px;
        width: 78px;
        background-color: white;
    }
    #cuadro_vida .tractor{
        margin: -8px 0 0;
    }

    /**************************BARDAHL EN TU VIDA *********************************/
    .customleft {
        background-color: #ffffff;
        margin-top: 6px;
        padding: 6%;
    }
    .containter-table {
        display: table;
        padding: 0;
        width: 90%;
    }
    .back, .t3-navbar2,  .customback, .encuentralos, .navbar-header, #container_footer #name0, #container_footer #name1 {
        display: none;

    }

    .head-search .nav-pills{
        display: none;
        visibility: hidden;
    }

    #container_footer .col-xs-6 {
        width: 100%;
    }
    .vertical2{
        margin: -169px 0 0 226px;
    }
    #container_footer #name2 .hidden{
        display: inline-block !important;
        visibility: visible !important;

    }
    .t3-footnav #name2 .moduletable{
        margin: auto -27px;
    }
    .container_left {
        width: 99%;
        background-color: white;
        margin: -186px 0 0 1px;
    }

    div.container_left .row #name0 {
        padding: 0;
        width: 87.9%;
        position: absolute;
    }

    div.container_left .row #name1 {
        width: 91%;
        background-color: white;
        margin: 94% 0 0 15px;

    }

    .flexslider {
        height: 282px;
        margin: 54px 0 0 17px !important;
        width: 113%;
    }

    #div_buscar {
        font-size: 9pt;
        line-height: 10px;
        margin: 11px 0 0;
        z-index: 0;
    }
    .img-producto {
        z-index: 100;
    }
    #contacto {
        font-size: 17px;
        margin: -18px 0 0 -29px;
    }

    .t3-footnav #columna-4 {
     display: none;
    }
    div.row .t3-sidebar-2, .t3-sidebar-right {
        margin: 0px 0 0 4px;
        width: 99%;
        padding: 0;
    }
}

/***************************************MEDIA QUERY PARA DISPOSITIVOS DIFERENTES*************/
/*********************************************IE9, IE10, IE11*************************************************/
@media screen and (min-width:0\0) {
    #facebook, #twitter, #google{
        display: inline-block;
        width: 100px;
    }

}
/*********************************************IE9, IE10, IE11*************************************************/